a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

.Left-NavBar {
    position: fixed;
    height: 100vmax;
    background: #3d3d3d;
    padding: 5px;
    margin: 60px auto;
    z-index: 1;
}

.Left-NavBar p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #915AC9;
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    margin: 20px;
}

.Left-NavBar ul li {
    text-align: center;
    padding: 5px;
    margin: 15px auto;
}

.Left-NavBar ul li a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    padding: 5px;
    margin: 15px auto;
}

.Left-NavBar ul li a:hover {
    text-decoration: none;
    color: #3d3d3d;
    background: #a1a1a1;
}

.Left-NavBar ul li a img {
    width: 50%;
    height: 50%;
    padding: 15px 0px;
}

.Left-NavBar ul li .logout:hover {
    text-decoration: none;
    color: #3d3d3d;
    background: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .Left-NavBar {
        position: fixed;
        height: 100vmax;
        background: #3d3d3d;
        padding: 5px 0;
        margin: 60px auto;
        z-index: 1;
        width: 15%;
    }

    .Left-NavBar p {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: #915AC9;
        text-align: center;
        padding: 10px 5px;
        font-size: 16px;
        border-radius: 10px;
        margin: 8px 8px;
    }

    .Left-NavBar ul li {
        text-align: center;
        padding: 2.5px;
        margin: 15px auto;
    }

    .Left-NavBar ul li a {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        font-size: 16px;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        padding: 5px;
        margin: 15px auto;
    }

    .Left-NavBar ul li a:hover {
        text-decoration: none;
        color: #3d3d3d;
        background: #a1a1a1;
    }

    .Left-NavBar ul li a img {
        width: 50%;
        height: 50%;
        padding: 15px 0;
    }

    .Left-NavBar ul li .logout:hover {
        text-decoration: none;
        color: #3d3d3d;
        background: none;
    }

    /*section {*/
    /*  position: relative;*/
    /*  top: 60px;*/
    /*  display: -webkit-box;*/
    /*  display: -ms-flexbox;*/
    /*  display: flex;*/
    /*}*/
    /*section .body-content {*/
    /*  position: relative;*/
    /*  left: 0px;*/
    /*  width: 90%;*/
    /*  height: 90vh;*/
    /*  margin: 0px 90px;*/
    /*}*/
    /*section .body-content .All-Drivers {*/
    /*  display: -webkit-box;*/
    /*  display: -ms-flexbox;*/
    /*  display: flex;*/
    /*  position: relative;*/
    /*  -webkit-box-orient: vertical;*/
    /*  -webkit-box-direction: normal;*/
    /*  -ms-flex-direction: column;*/
    /*  flex-direction: column;*/
    /*  margin: 10px 100px;*/
    /*}*/
    /*section .body-content .All-Drivers .device {*/
    /*  text-align: center;*/
    /*  width: 200px;*/
    /*  margin: 10px auto;*/
    /*}*/
    /*section .body-content .All-Drivers .device a:hover {*/
    /*  text-decoration: none;*/
    /*  color: white;*/
    /*}*/
    /*section .body-content .All-Drivers .device section {*/
    /*  display: -webkit-box;*/
    /*  display: -ms-flexbox;*/
    /*  display: flex;*/
    /*  -webkit-box-orient: vertical;*/
    /*  -webkit-box-direction: normal;*/
    /*  -ms-flex-direction: column;*/
    /*  flex-direction: column;*/
    /*  border: 2px dashed #A5A5A5;*/
    /*  border-radius: 15px;*/
    /*  padding: 15px;*/
    /*  -webkit-box-pack: center;*/
    /*  -ms-flex-pack: center;*/
    /*  justify-content: center;*/
    /*  -webkit-box-align: center;*/
    /*  -ms-flex-align: center;*/
    /*  align-items: center;*/
    /*}*/
    /*section .body-content .All-Drivers .device section img {*/
    /*  width: 100px;*/
    /*  height: 100px;*/
    /*}*/
    /*section .body-content .All-Drivers .device section p {*/
    /*  padding: 5px;*/
    /*  background: #A5A5A5;*/
    /*  border-radius: 5px;*/
    /*  margin: 15px auto 0px auto;*/
    /*  font-size: 16px;*/
    /*}*/
    /*section .body-content .All-Drivers .device .addimage {*/
    /*  width: 115px;*/
    /*  height: 100px;*/
    /*}*/
}

