.content__body-aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: -128px auto;
    min-height: 100vh;
    padding-top: 100px;
}

.content__body-aboutUs h2 {
    text-align: center;
    padding: 5px 50px;
    font-size: 50px;
    color: white;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: -15px auto 50px auto;
    -webkit-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
    border-bottom: 3px solid white;
}

.content__body-aboutUs h2::after {
    content: "";
    background: none;
    width: 100px;
    height: 6px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 0%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.content__body-aboutUs h2:focus::after, .content__body-aboutUs h2:hover::after {
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    content: "";
    background: #8ae4e4;
    width: 180px;
    height: 6px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    -webkit-box-shadow: 1px 2px 10px #8ae4e4;
    box-shadow: 1px 2px 10px #8ae4e4;
}

.content__body-aboutUs h2::before {
    content: "";
    background: none;
    width: 100px;
    height: 6px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 100%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.content__body-aboutUs h2:focus, .content__body-aboutUs h2:hover {
    cursor: pointer;
}

.content__body-aboutUs h2:focus::before, .content__body-aboutUs h2:hover::before {
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    content: "";
    background: #8ae4e4;
    width: 180px;
    height: 6px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.content__body-aboutUs p {
    width: 100%;
    margin: 30px auto;
    text-align: justify-all;
    padding: 5px;
    font-size: 29px;
    color: white;
}

.content__body-aboutUs h4 {
    text-align: center;
    padding: 5px 50px;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

.inputError {
    border: #c53c3c;
    -webkit-box-shadow: 0px 1px 8px  #862929;
    box-shadow: 0px 1px 8px  #862929;
}

.inputSuccess {
    border: #48c53c;
    -webkit-box-shadow: 0px 1px 8px  #298638;
    box-shadow: 0px 1px 8px  #298638;
}

@media only screen and (max-width: 800px) {
    .content__body-a{
        margin-top: -50px;
    }
    .content__body-aboutUs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: -120px auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .content__body-aboutUs h4 {
        text-align: center;
        margin-top: 25px;
        padding: 5px 50px;
        font-size: 22px;
        color: white;
    }
    .content__body-aboutUs p {
        text-align: center;
        padding: 30px 50px;
        font-size: 16px;
        color: white;
        margin-bottom: 50px;
    }
}

