@import "../../css/_MessagesStyle/__messageStyle.css";

/* body-forgetPassword*/
.body-forgetPassword {
    margin: -128px auto;
    min-height: 100vh;
}

.content__body-forgetPassword {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    background: linear-gradient(103.72deg, #459ff470 0%, #68dfa67c 105.3%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 8px 1px #abeecd;
    box-shadow: 1px 1px 8px 1px #abeecd;
    border-radius: 10px;
}

.content__body-forgetPassword h2 {
    text-align: center;
    padding: 10px 25px;
    font-size: 30px;
    color: white;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0px auto 15px auto;
    -webkit-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
    border-bottom: 3px solid white;
}

.content__body-forgetPassword h2::after {
    content: "";
    background: none;
    width: 70px;
    height: 6px;
    border-radius: 10px;
    position: absolute;
    bottom: -3.5px;
    left: 0%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.content__body-forgetPassword h2:focus::after, .content__body-forgetPassword h2:hover::after {
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    content: "";
    background: #8ae4e4;
    width: 110px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    bottom: -3.8px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    -webkit-box-shadow: 1px 2px 10px #8ae4e4;
    box-shadow: 1px 2px 10px #8ae4e4;
}

.content__body-forgetPassword h2::before {
    content: "";
    background: none;
    width: 70px;
    height: 6px;
    border-radius: 10px;
    position: absolute;
    bottom: -3.5px;
    left: 100%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.content__body-forgetPassword h2:focus, .content__body-forgetPassword h2:hover {
    cursor: pointer;
}

.content__body-forgetPassword h2:focus::before, .content__body-forgetPassword h2:hover::before {
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    content: "";
    background: #8ae4e4;
    width: 110px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    bottom: -3.8px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.content__body-forgetPassword form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px 10px;
}

.content__body-forgetPassword form .Group1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content__body-forgetPassword form .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: start;
    margin: 5px auto;
}

.content__body-forgetPassword form .input-group label {
    padding: 0px 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #C9E6F5;
    font-size: 16px;
}

.content__body-forgetPassword form .input-group input[type=email] {
    border-radius: 30px;
    padding: 8px 20px;
    margin: auto 15px;
    color: #5c5c5ce1;
    background: #C9E6F5;
    font-weight: bold;
}

.content__body-forgetPassword form .input-group p {
    text-align: justify;
    font-size: 15px;
    color: white;
    padding: 5px 12px;
}

.content__body-forgetPassword form .input-group ::-webkit-input-placeholder {
    color: #5c5c5c8f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.content__body-forgetPassword form .input-group :-ms-input-placeholder {
    color: #5c5c5c8f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.content__body-forgetPassword form .input-group ::-ms-input-placeholder {
    color: #5c5c5c8f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.content__body-forgetPassword form .input-group ::placeholder {
    color: #5c5c5c8f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.content__body-forgetPassword form .btn-group {
    margin: 15px auto;
}

.content__body-forgetPassword form .btn-group button {
    background: #178d66;
    padding: 5px 60px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-transition: ease-in-out 0.30s;
    transition: ease-in-out 0.30s;
    border: 2px solid #178d66;
}

.content__body-forgetPassword form .btn-group button:hover, .content__body-forgetPassword form .btn-group button:focus {
    border: 2px solid #22926d;
    background: #25a57a;
    -webkit-box-shadow: 1px 2px 8px #228f6a;
    box-shadow: 1px 2px 8px #228f6a;
    color: white;
}

.content__body-forgetPassword input[type=email], .content__body-forgetPassword button {
    outline: none;
    border: none;
}


@media only screen and (max-width: 800px) {
    .content__body-F {
        margin: -42px auto;
        min-height: 100vh;
    }

    .content__body-forgetPassword {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0px auto;
        background: linear-gradient(103.72deg, #459ff470 0%, #68dfa67c 105.3%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 1px 1px 8px 1px #abeecd;
        box-shadow: 1px 1px 8px 1px #abeecd;
        border-radius: 10px;
    }

    .content__body-forgetPassword .main-body-content {
        width: 100%;
    }

    .content__body-forgetPassword h2 {
        text-align: center;
        padding: 5px 25px;
        font-size: 25px;
        color: white;
        position: relative;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0px auto 20px auto;
        -webkit-transition: ease-in-out 0.25s;
        transition: ease-in-out 0.25s;
        border-bottom: 3px solid white;
    }

    .content__body-forgetPassword form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0px 10px;
    }

    .content__body-forgetPassword form .Group1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .content__body-forgetPassword form .input-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: start;
        margin: 5px auto;
    }

    .content__body-forgetPassword form .input-group label {
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #C9E6F5;
        font-size: 16px;
    }

    .content__body-forgetPassword form .input-group input[type=text], .content__body-forgetPassword form .input-group input[type=email], .content__body-forgetPassword form .input-group input[type=password] {
        border-radius: 30px;
        padding: 4px 15px;
        margin: auto 15px;
        color: #5c5c5ce1;
        background: #C9E6F5;
        font-weight: bold;
    }

    .content__body-forgetPassword form .input-group ::-webkit-input-placeholder {
        color: #5c5c5c8f;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .content__body-forgetPassword form .input-group :-ms-input-placeholder {
        color: #5c5c5c8f;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .content__body-forgetPassword form .input-group ::-ms-input-placeholder {
        color: #5c5c5c8f;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .content__body-forgetPassword form .input-group ::placeholder {
        color: #5c5c5c8f;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .content__body-forgetPassword form .btn-group {
        margin: 20px auto;
    }

    .content__body-forgetPassword form .btn-group button {
        background: #178d66;
        padding: 5px 50px;
        border-radius: 30px;
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        -webkit-transition: ease-in-out 0.30s;
        transition: ease-in-out 0.30s;
        border: 2px solid #178d66;
    }

    .content__body-forgetPassword form .btn-group button:hover, .content__body-forgetPassword form .btn-group button:focus {
        border: 2px solid #22926d;
        background: #25a57a;
        -webkit-box-shadow: 1px 2px 8px #228f6a;
        box-shadow: 1px 2px 8px #228f6a;
        color: white;
    }

    .content__body-forgetPassword input[type=text], .content__body-forgetPassword input[type=email], .content__body-forgetPassword textarea, .content__body-forgetPassword button {
        outline: none;
        border: none;
    }
}

/*# sourceMappingURL=style.css.map */
