.body-AddDevice {
    padding: 0;
    margin: 0;
    position: relative;
    background: #343434;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    min-height: 100vh;
}

.body-AddDevice a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.body-AddDevice a:hover {
    text-decoration: none;
}

.body-AddDevice ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body-AddDevice button:focus {
    outline: none;
}


.body-AddDevice section {
    position: relative;
    top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


