.body-main {
    padding: 0px;
    margin: 0px;
    position: relative;
    background: #343434;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    min-height: 100vh;

}
.body-main a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.body-main a:hover {
    text-decoration: none;
}

.body-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body-main button:focus {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.body-main section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 0px;

}


.body-main section .body__content-main {
    position: relative;
    left: 0px;
    margin: 30px 0px 0px 150px;
    width: auto;
    height: auto;
}

.body-main section .body__content-main .All-Drivers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 0px auto;
    min-height: 100vh;
    justify-content: center;
    align-items: start;

}

.body-main section .body__content-main .All-Drivers .device {
    text-align: center;
    margin: 20px 10px;
}

.body-main section .body__content-main .All-Drivers .device a:hover {
    text-decoration: none;
    color: white;
}

.body-main section .body__content-main .All-Drivers .device section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 2px dashed #A5A5A5;
    border-radius: 15px;
    padding: 35px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.body-main section .body__content-main .All-Drivers .device section img {
    width: 120px;
    height: 120px;
}

.body-main section .body__content-main .All-Drivers .device section p {
    padding: 5px;
    background: #A5A5A5;
    border-radius: 5px;
    margin: 15px auto 0px auto;
    font-size: 16px;
}

.body-main section .body__content-main .All-Drivers .device .addimage {
    width: 125px;
    height: 120px;
}

 /*Extra small devices (phones, 600px and down) */
/*@media only screen and (min-width: 1463px) {*/

/*}*/

