.body-profileUser {
    padding: 0px;
    margin: 0px;
    position: relative;
    background: #343434;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    min-height: 100vh;
}

.body-profileUser a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.body-profileUser a:hover {
    text-decoration: none;
}

.body-profileUser ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body-profileUser button:focus {
    outline: none;
}


.body-profileUser section {
    position: relative;
    top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    background: #343434;
}

.user__profile-hr{
    background: white;
    width:15%;
    height: 2px;
    border-radius: 30px;
}

/* new style*/
.body-profileUser section .user__profile-image{
    width: 35%;
    height: auto;
    object-fit: cover;
    border: 2px dashed #929292;
    border-radius: 15%;
}


/*1800px*/
@media (min-width: 1200px) {
    .body-profileUser section .container{
        margin-left: 25px;
    }


}

/*720px*/
@media (max-width: 768px) {
    .body-profileUser section .container h2{
        font-size: 1.5em;
    }
    .right__content {
        background: #535353;
        margin-left: 5%;
        padding: 5%;
        text-align: center;
        border-radius: 5px;
    }
    .left__content {
        background: #535353;
        margin-left: 5%;
        margin-top: 15px;
        padding: 5%;
        text-align: center;
        border-radius: 5px;
    }
}

/*410px*/
@media (max-width: 410px) {
    .body-profileUser section .container h2{
        font-size: 1.3em;
    }

    .right__content {
        background: #535353;
        margin-left: 15%;
        padding: 5%;
        text-align: center;
        border-radius: 5px;
    }
    .left__content {
        background: #535353;
        margin-left: 15%;
        margin-top: 15px;
        padding: 5%;
        text-align: center;
        border-radius: 5px;
    }

}


