:root {
    --background_loginPage: #343434;
    --white_color: white;
    --green-1000-v1: #377272;
    --green-900-v1: #338383;
    --green-700-v1: #57a4a4;
    --green-650-v1: #70cbcb;
    --green-600-v1: #91eaea;
    --green-500-v1: #a8e9e9;
    --green-400-v1: #b7f5f5;


}

a {
    text-decoration: none;
    color: var(--white_color);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

/* new style */
.main__nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    transition: all 0.3s ease;
}

.nav--Z-index {
    z-index: 999;
}


.main__nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 6rem;
    margin: 0 auto;
}


/* nav image */
.main-nav__lists {
    display: flex;
}

.nav__logo {
    justify-content: start;
    align-items: center;
}

#image_logo {
    width: 75%;
}

/* nav link list */

.nav__element {
    display: flex;
}

.nav__element-list {
    padding: 0 0.525rem;
}

.nav__link-list {
    color: var(--green-500-v1);
    font-size: 1.325rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
}

.nav__link-list:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--green-900-v1);
}

@media (hover: hover) {
    .nav__element-list:hover .nav__link-list {
        background-color: var(--green-700-v1);
        color: var(--white_color);
    }
}

/*1000*/
@media (max-width: 1000px) {
    .ul-list-max {
        display: none;
    }
}

/* nav items btn */
.nav__items-btn {
    background-color: var(--green-700-v1);
    border-radius: 5px;
    padding: 0.625rem 1.25rem;
    border: 2px solid var(--green-700-v1);
}

/* just btn first */
.nav__items-btn:nth-child(2n+1) {
    background: none;
    margin-right: 0.525rem;
    border: 2px solid var(--green-700-v1);
}

@media (hover: hover) {
    .nav__items-btn:hover {
        background-color: var(--white_color);
        border: 2px solid var(--white_color);
    }

    .nav__items-btn:hover .nav_link-btn {
        color: var(--green-700-v1);
    }
}

.nav_link-btn {
    color: var(--white_color);
    font-size: 1.1rem;
    outline: none;
}

@media (max-width: 600px) {
    .nav_btn_items {
        display: none;
    }
}


/* menu btn */

.fas__menu-btn {
    padding: 0.25rem 1.5rem;
    border: none;
    border-radius: 5px;
    display: none;
}

.menu-btn {
    font-size: 2rem;
    color: var(--green-600-v1);
}


@media (hover: hover) {
    .fas__menu-btn:hover .menu-btn {
        color: var(--green-1000-v1);
    }
}

@media (max-width: 1000px) {
    .fas__menu-btn {
        display: block;
    }
}


/* menu  responsive */
.menu__responsive {
    position: fixed;
    background-color: var(--green-900-v1);
    width: 100%;
    height: min-content;
    min-width: 350px;
    z-index: 9999;
}

.father-list-min {
    display: none;
}

.nav__element-min {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.fas-close__btn {
    position: absolute;
    background-color: var(--green-650-v1);
    color: var(--white_color);
    font-size: 2.25rem;
    top: 2.5rem;
    right: 2.5rem;
    border-radius: 10px;
    padding: 0.46rem 0.8rem;
}

.nav__element-list-min {
    padding-top: 6rem;
}

.nav__element-list-min:last-child {
    padding-bottom: 3rem;
}

.nav__link-list-min {
    padding: 0.525rem 1.525rem;
    border-radius: 5px;
    font-size: 1.425rem;
    color: var(--green-400-v1);
    text-transform: uppercase;
}

.nav__link-list-min:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--green-600-v1);
}
