:root {
    --background_loginPage: #343434;
    --white_color: white;
}

a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

/* new style */
.main__nav {
    width: 100%;
    position: fixed;
}


.main__nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 8rem;
    margin: 0 auto;
}


/* nav image */
.main-nav__lists {
    display: flex;
}

.nav__logo {
    justify-content: start;
    align-items: center;
}

/* nav link list */

.nav__element {
    display: flex;
}

.nav__element-list {
    padding: 0 0.525rem;
}

.nav__link-list {
    color: #9fe0e0;
    font-size: 1.325rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
}

.nav__link-list:focus {
    outline: none;
    box-shadow: 0 0 0 3px #2d7c7c;
}

@media (hover: hover) {
    .nav__element-list:hover .nav__link-list {
        background-color: #52a0a0;
        color: white;
    }
}

/*1000*/
@media (max-width: 1000px) {
    .ul-list-min {
        display: none;
    }
}

/* nav items btn */
.nav__items-btn {
    background-color: #52a0a0;
    border-radius: 5px;
    padding: 0.625rem 1.25rem;
    border: 2px solid #52a0a0;
}

/* just btn first */
.nav__items-btn:nth-child(2n+1) {
    background: none;
    /*box-shadow: 0 0 0 3px #52a0a0;*/
    margin-right: 0.525rem;
    border: 2px solid #52a0a0;
}

@media (hover: hover) {
    .nav__items-btn:hover {
        background-color: white;
        border: 2px solid white;
    }

    .nav__items-btn:hover .nav_link-btn {
        color: #52a0a0;
    }
}

.nav_link-btn {
    color: white;
    font-size: 1.1rem;
    outline: none;
}

@media (max-width: 600px) {
    .nav_btn_items {
        display: none;
    }
}


/* menu btn */

.fas__menu-btn {
    padding: 0.25rem 1.5rem;
    border: none;
    border-radius: 5px;
    display: none;
}

.menu-btn {
    font-size: 1.5rem;
    color: #8ae4e4;
}


@media (hover: hover) {
    .fas__menu-btn:hover .menu-btn {
        color: #3e7575;
    }
}

@media (max-width: 1000px) {
    .fas__menu-btn {
        display: block;
    }
}


/* menu  responsive */
.menu__responsive {

}


/* old style */

/*nav.nav__top-welcome {*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-pack: justify;*/
/*    -ms-flex-pack: justify;*/
/*    justify-content: space-between;*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*    padding-top: 30px;*/
/*}*/

/*nav.nav__top-welcome ul {*/
/*    display: inline-block;*/
/*    margin: 30px auto;*/
/*}*/

/*nav.nav__top-welcome ul li {*/
/*    display: inline-block;*/
/*    margin: 0 8px;*/
/*    padding: 0 3px;*/
/*}*/

/*nav.nav__top-welcome ul li a {*/
/*    font-size: 22px;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    -webkit-transition: all 0.5s;*/
/*    transition: all 0.5s;*/
/*    color: white;*/
/*}*/

/*nav.nav__top-welcome ul li a:focus, nav ul li a:hover {*/
/*    color: #0b561f;*/

/*}*/

/*nav.nav__top-welcome ul .siginUp {*/
/*    background: #1c9d42;*/
/*    -webkit-box-shadow: 0 4px 4px #00000040;*/
/*    box-shadow: 0 4px 4px #00000040;*/
/*    border-radius: 30px;*/
/*    padding: 6px 15px;*/
/*}*/

/*nav.nav__top-welcome ul .siginUp a {*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    text-transform: uppercase;*/
/*}*/

/*nav.nav__top-welcome ul .siginUp a:focus, nav ul .siginUp a:hover {*/
/*    color: white;*/
/*    border-bottom: none;*/
/*}*/

/*nav.nav__top-welcome .Nav-List-1 {*/
/*    margin: 0px 40px;*/
/*    position: relative;*/
/*}*/

/*nav.nav__top-welcome .Nav-List-1 li:nth-child(1)::after {*/
/*    content: "";*/
/*    background: none;*/
/*    width: 55px;*/
/*    height: 3px;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    bottom: -5px;*/
/*    right: 105px;*/
/*}*/

/*nav.nav__top-welcome .Nav-List-1 li:nth-child(1):focus::after, nav .Nav-List-1 li:nth-child(1):hover::after {*/
/*    content: "";*/
/*    -webkit-transition: linear 0.3s;*/
/*    transition: linear 0.3s;*/
/*    background-color: #35728f;*/
/*    width: 55px;*/
/*    height: 3px;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    bottom: -5px;*/
/*    right: 165px;*/
/*}*/

/*nav.nav__top-welcome .Nav-List-1 li:nth-child(2)::after {*/
/*    content: "";*/
/*    background: none;*/
/*    width: 60px;*/
/*    height: 3px;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    bottom: -5px;*/
/*    right: 165px;*/
/*}*/

/*nav.nav__top-welcome .Nav-List-1 li:nth-child(2):focus::after, nav .Nav-List-1 li:nth-child(2):hover::after {*/
/*    -webkit-transition: linear 0.3s;*/
/*    transition: linear 0.3s;*/
/*    content: "";*/
/*    background-color: #35728f;*/
/*    width: 60px;*/
/*    height: 3px;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    bottom: -5px;*/
/*    right: 95px;*/
/*}*/

/*nav.nav__top-welcome .Nav-List-1 li:nth-child(3)::after {*/
/*    content: "";*/
/*    background: none;*/
/*    width: 90px;*/
/*    height: 3px;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    bottom: -5px;*/
/*    right: 95px;*/
/*}*/

/*nav.nav__top-welcome .Nav-List-1 li:nth-child(3):focus::after, nav .Nav-List-1 li:nth-child(3):hover::after {*/
/*    -webkit-transition: linear 0.3s;*/
/*    transition: linear 0.3s;*/
/*    content: "";*/
/*    background: #35728f;*/
/*    width: 80px;*/
/*    height: 3px;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    bottom: -5px;*/
/*    right: 5px;*/
/*}*/

/*.nav-items {*/
/*    -webkit-transition: ease-in-out 0.5s;*/
/*    transition: ease-in-out 0.5s;*/
/*    display: block;*/
/*}*/

/*.bargar-item {*/
/*    margin: 30px 0px;*/
/*    -webkit-transition: ease-in-out 0.5s;*/
/*    transition: ease-in-out 0.5s;*/
/*    display: none;*/
/*    cursor: pointer;*/
/*}*/

/*.open {*/
/*    -webkit-transition: ease-in-out 0.5s;*/
/*    transition: ease-in-out 0.5s;*/
/*    display: none;*/
/*}*/


/*@media only screen and (max-width: 800px) {*/
/*    .nav__top-w {*/
/*        !*overflow: hidden;*!*/
/*    }*/

/*    nav.nav__top-welcome {*/
/*        display: -webkit-box;*/
/*        display: -ms-flexbox;*/
/*        display: flex;*/
/*        -webkit-box-pack: justify;*/
/*        -ms-flex-pack: justify;*/
/*        justify-content: space-between;*/
/*        -webkit-box-align: center;*/
/*        -ms-flex-align: center;*/
/*        align-items: center;*/
/*        width: 80%;*/
/*        margin: 30px auto;*/
/*    }*/

/*    .nav-items {*/
/*        display: none;*/
/*    }*/

/*    .bargar-item {*/
/*        display: contents;*/
/*    }*/

/*    svg.logo-nav {*/
/*        width: 80px;*/
/*        height: 80px;*/
/*        padding: 10px 0px;*/
/*    }*/

/*    svg.bargar {*/
/*        width: 45px;*/
/*        height: 45px;*/
/*        padding: 10px 0px;*/
/*    }*/

/*    .min-nav-items {*/
/*        background: linear-gradient(103.72deg, #45A0F4 0%, #68DFA6 105.3%);*/
/*        background-repeat: no-repeat;*/
/*        background-size: cover;*/
/*        background-position: center;*/
/*        height: 100vh;*/
/*        position: fixed;*/
/*        width: 100%;*/
/*        z-index: 1;*/
/*    }*/

/*    .min-nav-items ul {*/
/*        text-align: center;*/
/*        padding: 15px;*/
/*    }*/

/*    .min-nav-items ul li {*/
/*        padding: 30px;*/
/*    }*/

/*    .min-nav-items ul li a {*/
/*        font-size: 20px;*/
/*        font-family: Arial, Helvetica, sans-serif;*/
/*        -webkit-transition: all 0.5s;*/
/*        transition: all 0.5s;*/
/*    }*/

/*    .min-nav-items ul li a:focus, .min-nav-items ul li a:hover {*/
/*        color: #35728f;*/
/*    }*/

/*    .min-nav-items ul:nth-child(2) li {*/
/*        display: inline;*/
/*        padding: 10px;*/
/*    }*/

/*    .min-nav-items ul .siginUp {*/
/*        background: #000000;*/
/*        -webkit-box-shadow: 0px 4px 4px #00000040;*/
/*        box-shadow: 0px 4px 4px #00000040;*/
/*        border-radius: 30px;*/
/*        padding: 6px 15px;*/
/*    }*/

/*    .min-nav-items ul .siginUp a {*/
/*        color: white;*/
/*        font-size: 16px;*/
/*        text-transform: uppercase;*/
/*    }*/

/*    .min-nav-items ul .siginUp a:focus, .min-nav-items ul .siginUp a:hover {*/
/*        color: white;*/
/*        border-bottom: none;*/
/*    }*/
/*}*/
