:root {
    --bg-aboutUsSection: #c9f8f8;
}

.container__aboutUsSc {
    width: 100%;
    height: 100%;
    background-color: var(--bg-aboutUsSection);
    margin-top: -6rem;
    padding-top: 6rem;
}


.main__aboutUsSc {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 0;
    margin: 0 auto;

}

.main__aboutUsSc-mainTitle {
    margin-bottom: 5.2rem;
    font-size: 3rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #1b7f8c;
    color: #0d7571;
}

.main__aboutUsSc-Title {
    margin-bottom: 2.2rem;
    font-size: 1.4rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: #234f4e;
}

.main__aboutUsSc-body {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: #234f4e;
    text-align: center;
}

@media (max-width: 750px) {
    .container__aboutUsSc {
        width: 100%;
        height: 100%;
        background-color: var(--bg-aboutUsSection);
        margin-top: -8rem;
        padding-top: 8rem;
    }
}
