:root {
    --border__color-addDevice: rgba(50, 57, 57, 0.5);
}

.font__sizeXl {
    font-size: 1.2rem;
}

.container__AddProcessorID {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    justify-content: start;
    align-items: center;
    justify-items: start;
    justify-self: center;
    transition: all 0.3s ease;
}

.fas-closeBTN {
    position: absolute;
    background-color: #434a4a;
    color: var(--white_color);
    font-size: 1.5rem;
    top: 1.25rem;
    right: 1.25rem;
    border-radius: 8px;
    padding: 0.36rem 0.7rem;
    cursor: pointer;
    transition: all ease 0.3s;
}

.fas-closeBTN:hover {
    background-color: #525b5b;
}

.container__AddProcessorID h2 {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    padding: 0.5rem;
    margin: 0.5rem auto;
    border-bottom: 2px solid var(--border__color-addDevice);
    transition: all 0.3s ease;
}

.container__AddProcessorID .input-group__AddProcessorID {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    justify-items: center;
    justify-self: center;
    padding: 0.2rem;
    margin: 0.3rem auto;
    flex-direction: column;
    transition: all 0.3s ease;
}

.container__AddProcessorID .input-group__AddProcessorID label {
    width: 100%;
    display: flex;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.container__AddProcessorID .input-group__AddProcessorID input[type='text'] {
    width: 100%;
    display: flex;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem auto;
    border: 2px solid var(--border__color-addDevice);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.container__AddProcessorID .input-group__AddProcessorID input[type='text']:focus {
    outline: none;
}

.container__AddProcessorID .input-group__AddProcessorID .btn-group__AddProcessorID {
    display: flex;
    width: 100%;
    justify-content: start;
    justify-items: center;
    justify-self: center;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
}

.container__AddProcessorID .input-group__AddProcessorID .btn-group__AddProcessorID .btn {
    display: flex;
    justify-content: start;
    justify-items: center;
    justify-self: center;
    margin-right: 0.5rem;
    font-size: 1.1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}


.container__AddProcessorID .otherWay_AddProcessorID {
    width: 100%;
    margin: 0.5rem auto;
    padding-top: 1rem;
    border-top: 2px solid var(--border__color-addDevice);
    transition: all 0.3s ease;
}

.container__AddProcessorID .otherWay_AddProcessorID .otherWay_btnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    transition: all 0.3s ease;
}

.container__AddProcessorID .otherWay_AddProcessorID h4 {
    width: 100%;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.container__AddProcessorID .otherWay_AddProcessorID .btn {
    width: 45%;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}


.handle__camera {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    width: 100%;
    height: 350px;
    background-color: var(--border__color-addDevice);
    margin: 0.5rem auto;
    color: white;
    transition: all 0.3s ease;
}

.scanner-container,
.scanner-container video {
    width: 100%;
    height: 350px;
}

.ScanOpen {
    display: none;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    transition: all 0.3s ease;
}


.wait_class-cam {
    display: flex;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;

}

.section__title {
    margin: 0;
    padding: 0 1.25rem;
}

.section__control-s {
    display: flex;
}


.search_group {
    width: 96%;
    display: flex;
    position: absolute;
    top: 0.9rem;
    left: 1.5rem;
    z-index: 99;
    justify-items: center;
    justify-self: center;
}

.search_group-icon {
    /*width: 100%;*/
    padding: 0.75rem 0.9rem;
    position: absolute;
    font-size: 1.2rem;
    color: #eaeaea;
    background-color: #888888;
    border-radius: 5px 0 0 5px;
}

.search_group-input {
    width: 80%;
    padding: 0.5rem 0.5rem 0.5rem 3.5rem;
    border: none;
    box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.5);
    line-height: 1.5rem;
    color: #929292;
    font-size: 1.2rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.search_group-input:focus {
    outline: none;
    border: none;
}

.btn_searchScan {
    height: 2.5rem;
}

.search_group-btn {
    width: 20%;
}

.btn_actionGroup {
    display: flex;
    justify-items: center;
    justify-content: start;
    align-items: start;
}

.btn_deleted {
    background-color: #d90d0d;
    color: white;
    border-radius: 5px;
    margin-left: 1rem;
}

.btn_Edit {
    background-color: #0d92d9;
    color: white;
    border-radius: 5px;
    margin-left: 1rem;
}

.btn_Show {
    background-color: #ecab0e;
    color: white;
    border-radius: 5px;
    margin-left: 0.5rem;
}

.btn_Status {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    height: 40px;
    margin-left: 0.5rem;
}

.form-check-input {
    width: 1.7em;
    height: 1.5em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    transition: background-color .15s ease-in-out, background-position .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.form-check-input:focus {
    outline: none;
}

.form-switch .form-check-input {
    width: 2.5em;
    /* margin-left: -2.5em; */
    border-radius: 2em;
}

.form-check-input:checked {
    background-color: #1aa24b;
    border-color: #209d0a;
    outline: none;
}

.btn_AddController {
    background-color: #0d9fd9;
    color: white;
    border-radius: 5px;
}

.btn_deleted:hover {
    background-color: #a90707;
}

.btn_Edit:hover {
    background-color: #0b75ab;
}

.btn_Show:hover {
    background-color: #c18e0c;
}

.btn_AddController:hover {
    background-color: #0979a5;
}

@media (max-width: 1029px) {
    .search_group-btn {
        width: 25%;
    }
}

@media (max-width: 680px) {
    .search_group {
        width: 95%;
        display: flex;
        position: absolute;
        top: 0.9rem;
        left: 1.3rem;
        z-index: 99;
        justify-items: center;
        justify-self: center;
    }

    .search_group-input {
        width: 70%;
    }

    .search_group-btn {
        width: 30%;
    }
}

@media (max-width: 440px) {
    .search_group {
        width: 95%;
        display: flex;
        position: absolute;
        top: 0.9rem;
        left: 1rem;
        z-index: 99;
        justify-items: center;
        justify-self: center;
    }

    .search_group-input {
        width: 60%;
    }

    .search_group-btn {
        width: 40%;
        font-size: 0.9rem;
    }
}
