.container_Admin_CreateDevice {
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;
}

.container_Admin_CreateDevice h2 {
    width: 100%;
    height: 100%;
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-size: 2.5rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    transition: all ease 0.3s;
}

.container_Admin_CreateDevice .btn-group_Generate {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    transition: all ease 0.3s;
    margin: 2rem auto;
}

.container_Admin_CreateDevice .btn-group_Generate-2 {
    width: 75%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    transition: all ease 0.3s;
    margin: 2rem auto;
}

.container_Admin_CreateDevice .btn-group_Generate .btn,
.container_Admin_CreateDevice .btn-group_Generate-2 .btn {
    text-align: center;
    font-size: 1.2rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.container__DeviceId {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.btn-group_Generate-2 {
    display: flex;
    justify-content: space-between;
}

input:focus, input:active {
    outline: none;
    border: none;
}

.container__DeviceId .container__processor_Id {
    display: flex;
    flex-direction: column;
    background-color: #bfbfbf;
    width: 100%;
    height: 100%;
    padding: 3rem;
    margin: 3rem auto;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.container__DeviceId .svg_Generator {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2.5rem auto;
    transition: all ease 0.3s;
}

.container__DeviceId .svg_Generator svg.vue-barcode-element {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    transition: all ease 0.3s;
}

/*@media (max-width: 990px) {*/
/*    .container_Admin_CreateDevice .btn-group_Generate,*/
/*    .container_Admin_CreateDevice .btn-group_Generate-2 {*/
/*        width: 85%;*/
/*    }*/


/*    .container__DeviceId .container__processor_Id {*/
/*        width: 85%;*/
/*    }*/
/*}*/

/*@media (max-width: 670px) {*/
/*    .container_Admin_CreateDevice .btn-group_Generate,*/
/*    .container_Admin_CreateDevice .btn-group_Generate-2 {*/
/*        width: 90%;*/
/*    }*/

/*    .container__DeviceId .container__processor_Id {*/
/*        width: 90%;*/
/*        padding: 3rem 0.5rem;*/
/*    }*/
/*}*/

/*@media (max-width: 470px) {*/
/*    .container_Admin_CreateDevice .btn-group_Generate,*/
/*    .container_Admin_CreateDevice .btn-group_Generate-2 {*/
/*        width: 95%;*/
/*    }*/

/*    .container__DeviceId .container__processor_Id {*/
/*        width: 95%;*/
/*        padding: 3rem 0.5rem;*/
/*    }*/
/*}*/

/*@media (max-width: 470px) {*/
/*    .container_Admin_CreateDevice .btn-group_Generate-2 {*/
/*        flex-direction: column;*/
/*        width: 95%;*/
/*    }*/

/*    .container_Admin_CreateDevice .btn-group_Generate-2 .btn {*/
/*        width: 95%;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .container_Admin_CreateDevice .btn-group_Generate-2 .btn:not(:last-child) {*/
/*        margin-bottom: 0.9rem;*/
/*    }*/

/*    .container__DeviceId .svg_Generator svg.vue-barcode-element {*/
/*        margin: 0 auto;*/
/*        max-width: 250px;*/
/*    }*/

/*}*/


